src/*.tab.hpp
src/*.tab.cpp
src/*.yy.cpp

test/c_translate/out/*
test/py_translate/tmp/*
test/mips_test/output/*
test/py_mips_test/outputs/*
test/py_translate/*

test_bench_translator.sh

*.idea
.idea/*

**/*.o
*.output
*.log
*.stackdump

*.DS_Store

.vagrant
